* {
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF8000;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FF8000;
    width: 100%;
    position: sticky;
}

.nav_logo {
    width: 200px;
    height: 100px;
    margin: 0px 10px;
}

.maxWidth {
    width: 100%;
    max-width: 1920px;
}

main {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    height: 100%;
}

.restaurant {
    width: 80vw;
}

.fixed_infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.orange_paragraph {
    color: #FF8000;
}

.cart {
    width: 20vw;
}

.headimg_restaurant {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-image: url("imgs/dishes/mixed_food.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}

.restaurant_logo {
    width: 100px;
    position: absolute;
    left: 40vw;
    top: 210px;
    z-index: 1;
}

#nav_menu {
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #F7F5F1;
    padding: 10px 10px;
    align-items: center;
}

#nav_menu p {
    font-size: 1.5rem;
}

#nav_menu table {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#nav_menu table td {
    width: auto;
    padding: 0px 10px;

}


.singleItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(206, 204, 204);
    padding: 10px;
    margin: 10px 10px;
    border-radius: 2px;
    position: relative;
}

.imgCropper {
    overflow: hidden;
    margin: 10px 10px;
    height: 100px;
    object-fit: fill;
    object-position: center;
    border-radius: 2px;
}

.section_img {
    width: 100%;
}

.addToCart {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    border-top: hidden;
    border-left: 1px solid rgb(206, 204, 204);
    border-bottom: 1px solid rgb(206, 204, 204);
    border-right: hidden;
    font-size: 2rem;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #FF8000;
    width: 100%;
    padding: 20px;
}

footer .maxWidth {
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 830px) {
main {
    flex-direction: column;
}

.restaurant {
    width: 100vw;
}
.restaurant_logo {
    width: 70px;
}

.headimg_restaurant {
    margin-bottom: 20px;
}

.cart {
    width: auto;
}

footer {
    width: auto;
}

}