* {
    margin: 0px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF8000;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FF8000;
    width: 100%;
    position: sticky;
}

.nav_logo {
    width: 200px;
    height: 100px;
    margin: 0px 10px;
}

.maxWidth {
    width: 100%;
    max-width: 1920px;
}

main {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    height: 100vh;
}

.restaurant {
    width: 80vw;
}

.orange_paragraph {
    color:#FF8000;
}

.cart {
    width: 20vw;
}

.headimg_restaurant {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-image: url("imgs/dishes/mixed_food.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}

.restaurant_logo {
    width: 100px;
    position: absolute;
    left: 40vw;
    top: 210px;
    z-index: 1;
}



footer {
    display: flex;
    justify-content: center;
    background-color: #FF8000;
    width: 100%;
    padding: 20px;
}
footer .maxWidth {
    display: flex;
    justify-content: center;
}