.cart h2 {
    text-align: center;
    border-bottom: 1px solid rgb(203, 199, 199);
    padding: 3%;
}

.cart {
    box-shadow: -2px 0 5px -2px #888;
}

.cartPlaceholder {
    margin: 20px 5px;
    padding: 5px;
}

#cartItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 30px 0px 30px;
}

#render_cart {
    position: sticky;
    top: 15px;
}

#amountAndPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#amountAndPrice button {
    border: hidden;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}
#amountAndPrice p {
    width: 55px;
    text-align: center;
}

.billinginfo {
    padding: 10px 30px 10px 30px;
    border-top: 1px solid rgb(203, 199, 199);
}

.billinginfo table {
    width: 100%
}

.billinginfo td {
    width: 50%;
}

.endOfLine {
    text-align: end;
}

.light {
    color: rgb(90, 88, 88);
}

.orderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.orderBtn button {
    background-color: #FF8000;
    border: 2px solid white;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.orderBtn button:hover {
    background-color: #fa9735;
}
.orderBtn button:active {
    background-color: white;
    color: #FF8000;
    border: 2px solid #FF8000;

}


/* ##### Tablet View ##### */
@media (min-width: 831px) and (max-width: 1300px) {


    .cart {
        overflow-y: scroll;
    }

    #cartItem {

        padding: 15px 10px 0px 10px;
    }

    .billinginfo {
        padding: 10px 10px 10px 10px;

    }

}

/* ##### Mobile View ##### */

@media (min-width: 320px) and (max-width: 830px) {

    #contentFormCart{
        overflow-y: scroll;

    }

    #render_cart {
        width: 80%;
    }

    #cartItem {
        width: 100%;
        padding: 15px 0px 0px 0px;
    }
}