@font-face {
    font-family: 'Inter';
    src: url('../imgs/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

h2 {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

h3 {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

section h2 {
    margin-left: 30px;
}

@media (min-width: 320px) and (max-width: 830px) {

body {
    font-size: 0.9rem;
}


}