@font-face {
    font-family: 'Epunda Sans';
    src: url('../imgs/fonts/epundasans-variablefont_wght-webfont.woff2') format('woff2'),
        url('../imgs/fonts/epundasans-variablefont_wght-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Epunda Sans';
    src: url('../imgs/fonts/epundasans-variablefont_wght-webfont.woff2') format('woff2'),
        url('../imgs/fonts/epundasans-variablefont_wght-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Epunda Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

h2 {
    font-family: 'Epunda Sans', Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

h3 {
    font-family: 'Epunda Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

section h2 {
    margin-left: 30px;
}

@media (min-width: 320px) and (max-width: 830px) {

body {
    font-size: 0.9rem;
}


}